
.bandeau {
	padding: 15px;
	color: $middle;
	background-color: $isabelle;

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.alert {
		margin-left: 50px;
	}

	h1 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	ul {
		display: flex;
		flex-direction: row;
		li{
			display: inline;
			margin: 5px;
			a {
				text-decoration: none;
				color: $black;
				text-transform: uppercase;
			}
		}
	}
	.deroule 
{
		.sousmenu 
		{
			display: none;
		}
		&:hover {

			.sousmenu
			{
				display: block;	
				li {
					display: block;
				}
			}
		}
}


	#temps {
		display: inline;
		background-color: $cremello;
		margin-right: 150px;
		padding: 10px;
		#ladate {
			$color: $black;
		}
		a {
			text-decoration: none;
			color: $black;
			text-transform: uppercase;
		}
		.rouge {
			color: $red;
		}
	}
}	