
.bandeau {
	padding: 15px;
	color: $middle;
	background-color: $isabelle;

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.alert {
		margin-left: 50px;
	}

	h1 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	ul {
		li{
			display: inline;
			margin: 5px;
			a {
				text-decoration: none;
				color: $black;
				text-transform: uppercase;
			}
		}
	}
	#temps {
		display: inline;
		background-color: $cremello;
		margin-right: 50px;
		#ladate {
			$color: $black;
		}
		a {
			text-decoration: none;
			color: $black;
			text-transform: uppercase;
		}
		p {
			color: $red;
		}
	}
}	