.nom {
	font-variant: small-caps;
}

.arrow {
	button {
		background-color: transparent;
	}
		
}

.animaux {
	h3 {
		color: $middle;
		margin-top: 20px;
		margin-left: 30px;
	}
	table {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 20px;
			margin-right: 10px;
			color: $black;
			table-layout: fixed;
		tr{
			height: 70px;
			
			
			th {
				font-weight: bold;
				background-color: $grey;
				padding: 5px 20px;
			
				text-align: middle;
				
			}
			td {
				background-color: lighten($grey,20%);
				padding: 2px 12px;
			
				text-align: middle;
			
				
			}
			.photo td {
				height: 60px;
				width: 80px;
				
				a {
					height: 60px;
					width: 80px;
				}
			}
		}
	}
	
// 	.imagee table {
// 		tr {
// 			height: 70px;
// 		}	
	
	
// }
}