// Body
$body-bg: #fbf9fa;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #2f2429;
$middle: #701f1e;
$isabelle:#f3d186;
$grey: #c6a99a;

$blue: #5eb1f5;
$pink: #cfb1bb;

$indigo: #6574cd;
$purple: #9561e2;

$red: #e3342f;
$orange: #f6993f;
$yellow: #e7da65;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
