#parents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.par
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.rens
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.texte
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}
#boutons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	button {
		margin-top: 20px;
	}
}